
*.pyc
toonmono.cur
Toontown.exe
toontown.ico
Toontown.url
Toontown.exe.manifest
ToontownTest.url
PlayToontownTest.url
PlayToontown.url
python24.dll
pywintypes24.dll
unicodedata.pyd
win32api.pyd
zlib.pyd
*.dll
*.mf
*.dc
*.txt
*.asi
*.manifest
*.pyd
*.pre
assets/old/images/.*
news/*
sign/*
errorCode
*.log
*.dat
launcher.json
build/*
setup.py
